<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kuboarduser">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="KU보드"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <!--시작 페이지: LoginPage-->
        <activity android:name=".LoginPage">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpPage" />
        <activity android:name=".MainActivity" />
    </application>

    <!-- 외부로의 접근을 위한 인터넷 사용 허가 설정 -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>